<!DOCTYPE html>
<html ng-app=textapp ng-cloak>
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- my CSS -->
    <link rel="stylesheet" href="main.css">

    <title>Text Styles</title>
    <style>
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>Text Style Fun</h1>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

        <br><br>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div>
            <center><select class="" name="" ng-model="textStyling">
                      <option value="blueItalicText">Small Blue</option>
                      <option value="redBoldText">Bold Red</option>
                      <option value="greenStripedCursive">The Shire</option>
                      <option value="redStripedBoldFantasy">Dragon</option>
                      <option value="snowStripedMonospace">NY Times</option>
                      <option value="graySerifGreenStripe">St Patty</option>
                      <option value="whiteBlueStripedItalicBorder">Blue Devil</option>
                      <option value="blackYellowStripeThin">Black and Yellow</option>
                      <option value="orangeCursiveBlackStripe">Halloween</option>
                      <option value="purpleYellowStripe">LA Lakers</option>
                    </select>
          </div>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <center><h1 ng-class="textStyling">
                    Change This Text With The Dropdown!
                  </h1>
                  <br>
                  <p>
                    Or
                  </p>
                  <br>
                  <p>
                    Enter Your <i>Custom Text</i> Below and use the Dropdown:
                  </p>
                  <br>
                  <input type="text" name="" value="" ng-model="customtext">
                  <h1 ng-class="textStyling">
                    {{customtext}}
                  </h1>
        </div>
      </div>

      <br><br>

      <div class="row bottompage">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h2>
            Styling Possibilities*:
          </h2>
          <h2>
            <ul ng-controller="textCtrl">
              <li>Font: {{randomFont}}</li>
              <li>Color: {{randomColor}}</li>
              <li>Style: {{randomStyle}}</li>
            </ul>
          </h2>
          <p>*Refresh Page To Randomize Possibilities</p>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6">

          <label for="row">
            <h2>
              Input The Font Style to see its CSS code*:
            </h2>
            <br><br>
            <input type="text" name="" value="" ng-model="cssStyle">
          </label>

          <br><br><br>

          <div ng-switch="cssStyle">
            <h2 ng-switch-when="Small Blue">
              {
              color: blue;
              font-style: italic;
              font-size: 20px;
              }
            </h2>
            <h2 ng-switch-when="Bold Red">
              {
              color: red;
              font-weight: bold;
              font-size: 25px;
              }
            </h2>
            <h2 ng-switch-when="The Shire">
              {
              color: green;
              background-color: #DBE9F4;
              font-family: cursive;
              font-size: 30px;
              }
            </h2>
            <h2 ng-switch-when="Dragon">
              {
              color: red;
              background-color: #F5F5DC;
              font-weight: bold;
              font-family: fantasy;
              font-size: 35px;
              }
            </h2>
            <h2 ng-switch-when="NY Times">
              {
              color: snow;
              background-color: black;
              font-family: monospace;
              font-size: 40px;
              }
            </h2>
            <h2 ng-switch-when="St Patty">
              {
              color: lightgray;
              font-weight: 100;
              font-family: serif;
              background-color: green;
              font-size: 50px;
              }
            </h2>
            <h2 ng-switch-when="Blue Devil">
              {
              color: white;
              font-family: sans-serif;
              font-style: italic;
              background-color: royalblue;
              border-radius: 10%;
              font-size: 75px;
              }
            </h2>
            <h2 ng-switch-when="Black and Yellow">
              {
              color: black;
              background-color: yellow;
              font-weight: lighter;
              font-size: 100px;
              }
            </h2>
            <h2 ng-switch-when="Halloween">
              {
              color: orange;
              background-color: black;
              font-size: 125px;
              font-family: cursive;
              }
            </h2>
            <h2 ng-switch-when="LA Lakers">
              {
              color: purple;
              background-color: yellow;
              font-family: sans-serif;
              font-size: 150px;
              }
            </h2>
            <p ng-switch-default="Enter Name">
              *Enter Font Name As It Appears In Drop Down
            </p>
          </div>

        </div>
      </div>

    </div>
    <!-- End bootstrap grid -->


    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- my JS -->
    <script src="js/text.js"></script>

  </body>
</html>
